@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    width: 100vw;
    height: 100vh;
    background: #664986;
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1 {
    height: 50px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px ;
    color: #fff;
}
form {
    width: 90vw;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px;
    background: #E5E5E5;
}
form h1{
    width: 300px;
    height: 30px;
    font-size: 20px;
    font-size: 500;
    color:  #664986;
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.group{
    margin: 30px;
}

.group label{
    margin: 0 20px 20px 0;
}

.group input, select{
    width: 300px;
    margin: 0 20px 20px 0;
    border: none;
    outline: none;
    border: 2px solid transparent;
}


.group select{
    width: 130px;
    margin: 0 20px 20px 0;
}

input:focus{
    border-color: #664986;
}

select:focus{
    border-color: #664986;
}

#sexo{
    margin-left: 10px;
}

#cidade{
    margin-left: -5px;
}

.data-sexo{
    display: inline-flex;
}

.data input{
    width: 130px;
    margin: 0 20px 20px 0;
}

.btn-salvar{
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#salvar{
    width: 150px;
    height: 30px;
    background: #664986;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

#salvar:hover{
    transition: background 1s;
    background: #111826;

}
